/* test.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react-calendar__month-view__days {
  margin: 0px; /* 날짜별로 왼쪽에서 margin 조절 */
}

/* 달력 몸통 */
.react-calendar {
  width: 800px !important;
  border-radius: 20px;
  border: 3px solid #AFA4CE !important;
  display: flex;
  flex-direction: column;
  margin: auto; /* 가운데 정렬을 추가 */
  min-height: 570px !important; /* 원하는 높이로 수정 */
  margin-top: 13px;
  z-index: 1000;
}

/* 모달창 스타일 */
.ReactModal__Content {
  margin-top: 40px; /* 모달창을 아래로 내리는 부분 추가 */
  max-width: 1000px; /* 모달창 최대 너비 설정 */
  width: 80%; /* 모달창 너비 설정 */
  margin: auto; /* 가운데 정렬을 추가 */
  margin-top: 40px;
  z-index: 1000;


}

/* 미디어 쿼리 반응형 */
@media screen and (min-width: 768px) {
  .react-calendar {
    min-width: 62%;
    max-width: 900px;
    /* 데스크탑에 적합한 스타일 */
  }

  .react-calendar__navigation {
    height: 120px; /* 데스크탑에서 높이 조절 */
  }

  .react-calendar__navigation span {
    font-size: 32px; /* 데스크탑에서 글자 크기 조절 */
  }

  .react-calendar__navigation__next-button,
  .react-calendar__navigation__prev-button {
    font-size: 40px; /* 데스크탑에서 버튼 글자 크기 조절 */
  }
  
  /* 기타 데스크탑에서 필요한 스타일 조절 */
}

/* 달력 상단 */
.react-calendar__navigation {
  background-color: #E6E6FA;
  border-bottom: 4px solid #AFA4CE;
  height: 100px; /* 높이 조절을 원하는 값으로 수정 */
  border-radius: 17px 17px 0 0;
}

/* 상단 안쪽 글자 */
.react-calendar__navigation span {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

/* <> 글자 크기 */
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 30px;
}

/* <> 글자 마우스 올렸을 때 색상 */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: red;
}

/* 달력 안쪽 여백 */
.react-calendar__month-view {
  padding: 20px 36px;
}

.react-calendar__month-view__days {
  margin-top:10px;

}

.react-calendar__tile {
  width: 40px; /* 날짜별 칸의 너비를 조절합니다. */
  height: 40px; /* 날짜별 칸의 높이를 조절합니다. */
  font-size: 16px; /* 날짜의 글꼴 크기를 조절합니다. */
  margin-top:10px;
  
}

/* 날짜 색상 및 크기 */
.react-calendar__month-view abbr {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.react-calendar__month-view__days__day{
  margin-top:10px;
}

/* 요일 색상 및 크기 */
.react-calendar__month-view__weekdays abbr {
  font-size: 20px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}
.react-calendar__tile--active.react-calendar__year-view__months__month {
  background-color: transparent;
  color: black;
  border-radius: 0;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}

.react-calendar__year-view__months abbr{
  pointer-events: auto; /* 클릭 이벤트 활성화 */

}


.react-calendar__month-view__days {
  margin-top:10px;

}


/* 요일 색상 및 크기 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr /* 일 */ {
  font-size: 20px;
  font-weight: 900;
  color: red !important; /* 검정색으로 수정 */
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr /* 일 */ {
  font-size: 20px;
  font-weight: 900;
  color: blue !important; /* 검정색으로 수정 */
  text-decoration: none;
}

.react-calendar__month-view__weekdays:nth-child(6), /* 목요일 */
.react-calendar__month-view__weekdays:nth-child(7) {
  font-size: 20px;
  font-weight: 900;
  color: red !important; /* 검정색으로 수정 */
  text-decoration: none;
}

/* 날짜별 칸 스타일 */
.react-calendar__tile {
  text-align: center;
  height: 87px; /* 수정된 부분: 날짜별 칸의 높이를 조절합니다. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px !important; /* 수정된 부분: 날짜 간의 간격을 조절합니다. */
}


/* 날짜 클릭했을 때 칸 색상 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: rgba(215, 175, 211, 0.3);
  border-radius: 14px;
}

.react-calendar__tile--active,
.react-calendar__tile--now {
  pointer-events: auto; /* 클릭 이벤트 비활성화 */
  background-color: rgba(215, 175, 211, 0.3); /* RGB에 투명도 추가 */
  border-radius: 14px;
  height: 87px;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next-button {
  background: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__label:hover {
  background: none !important;
}

.react-calendar__navigation__label {
  font-size: 24px;
  font-weight: 600;
}

.dot-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 스티커 크기 */
.dot-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}

/* 스티커 크기 */
.dot {
  width: 80px; /* 이미지의 너비를 조절합니다. */
  height: 80px; /* 이미지의 높이를 조절합니다. */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}

.dot img {
  max-width: 100%; /* 이미지의 최대 너비를 조절하여 비율을 유지합니다. */
  max-height: 100%; /* 이미지의 최대 높이를 조절하여 비율을 유지합니다. */
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}




/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
  /* 달력 상단 네비게이션 글씨색 변경 */
  .react-calendar__navigation {
    color: white !important;
  }

  /* 요일 글씨색 변경 */
  .react-calendar__month-view__weekdays abbr {
    color: white !important;
  }

  /* 날짜 글씨색 변경 */
  .react-calendar__tile {
    color: white !important;
  }

  .react-calendar__year-view__months__month abbr {
    color: white !important;
  }

  .ReactModal__Content .ReactModal__Content--after-open {
    background-color: black !important; /* 검정색 배경 */
    color: white; /* 텍스트 색상을 하얀색으로 변경 */
    
  }
}


.dark-mode {
  background-color: #333; /* 어두운 배경색 */
  color: white; /* 흰색 글자 */
}

/* 다크 모드에서 달력 스타일 변경 */
.dark-mode .react-calendar {
  background-color: #333;
  border-color: #444;
}

/* 다크 모드에서 모달창 스타일 변경 */
.dark-mode .ReactModal__Content {
  background-color: #222;
}

