/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 오버레이 스타일 */
.react-calendar::before {
  content: '';
  position: fixed;
  /* 변경: 오버레이를 화면에 고정합니다. */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* 검정색 오버레이 색상 및 투명도 조절 */
  z-index: -1;
  /* 달력 아래로 배치 */
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* 컨테이너의 높이를 뷰포트의 90%로 설정 */
  position: relative;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}



/* 미디어 쿼리: 모바일 */
@media screen and (max-width: 767px) {
  .react-calendar {
    width: 100%; /* 변경: 모바일에서 너비 100% */
  }
}

  
/* 미디어 쿼리: 태블릿 */
@media screen and (min-width: 768px) {
  .react-calendar {
    width: 70%;
    /* 태블릿에서의 너비 */
  }
}


.react-calendar__navigation span {
  font-size: 32px;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 40px;
}


/* 미디어 쿼리: 데스크톱 */
@media screen and (min-width: 1024px) {
  .react-calendar {
    width: 60%;
    /* 데스크톱에서의 너비 */
  }
}



/* 달력 상단 */
.react-calendar__navigation {
  background-color: #e6e6fa;
  border-bottom: 4px solid #afa4ce;
  height: 80px;
  /* 높이 조절을 원하는 값으로 수정 */
  border-radius: 17px 17px 0 0;
}

/* 상단 안쪽 글자 */
.react-calendar__navigation span {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

/* <> 글자 크기 */
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 30px;
}


.react-calendar__tile {
  width: 40px;
  /* 날짜별 칸의 너비를 조절합니다. */
  height: 100px !important;
  /* 날짜별 칸의 높이를 조절합니다. */
  font-size: 16px;
  /* 날짜의 글꼴 크기를 조절합니다. */
  margin-top: 10px !important;
  margin-right: 8px;
  /* 날짜 칸 간격 늘림 */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}


/* 날짜 색상 및 크기 */
.react-calendar__month-view abbr {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.react-calendar__month-view__days__day {
  margin-top: 10px;
}

/* 요일 색상 및 크기 */
.react-calendar__month-view__weekdays abbr {
  font-size: 20px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}


/* 요일 헤더 스타일 */
.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-around;
  /* 요일 헤더를 가로로 균등 배치 */
}


.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__weekdays__weekday abbr {
  text-align: center;
  flex-grow: 1;
}

.react-calendar__tile--active.react-calendar__year-view__months__month {
  background-color: transparent;
  color: black;
  border-radius: 0;
  pointer-events: auto;
  /* 클릭 이벤트 활성화 */
}

.react-calendar__year-view__months abbr {
  pointer-events: auto;
  /* 클릭 이벤트 활성화 */
}

.react-calendar__month-view__days {
  margin-top: 6px;
}

/* 요일 색상 및 크기 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr

/* 일 */
  {
  font-size: 20px;
  font-weight: 900;
  color: red !important;
  /* 검정색으로 수정 */
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr

/* 일 */
  {
  font-size: 20px;
  font-weight: 900;
  color: blue !important;
  /* 검정색으로 수정 */
  text-decoration: none;
}

.react-calendar__month-view__weekdays:nth-child(6),
/* 목요일 */
.react-calendar__month-view__weekdays:nth-child(7) {
  font-size: 20px;
  font-weight: 900;
  color: red !important;
  /* 검정색으로 수정 */
  text-decoration: none;
}


.react-calendar__tile--active,
.react-calendar__tile--now {
  pointer-events: auto;
  /* 클릭 이벤트 비활성화 */
  background-color: rgba(215, 175, 211, 0.3);
  /* RGB에 투명도 추가 */
  border-radius: 14px;
  height: 87px;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next-button {
  background: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__label:hover {
  background: none !important;
}


.dot-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 스티커 크기 */
.dot-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  /* 클릭 이벤트 활성화 */
}

/* 스티커 크기 */
.dot {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  /* 클릭 이벤트 활성화 */
}

.dot img {
  max-width: 100%;
  /* 이미지의 최대 너비를 조절하여 비율을 유지합니다. */
  max-height: 100%;
  /* 이미지의 최대 높이를 조절하여 비율을 유지합니다. */
  pointer-events: auto;
  /* 클릭 이벤트 활성화 */
}



.react-calendar {
  width: 80%;
  /* 너비를 %로 조정 */
  max-width: 550px;
  /* 최대 너비 설정 */
  min-height: 300px !important;
  max-height: 690px;
  border-radius: 20px;
  border: 3px solid #afa4ce;
  margin: 75vh auto 0;
  /* 상단 마진을 뷰포트 높이의 %로 조정 */
  height: auto;
  overflow-y: hidden;
  position: relative;
}





.react-calendar__navigation {
  background-color: #e6e6fa;
  border-bottom: 4px solid #afa4ce;
  height: 100px !important;
  /* 크기를 고정합니다. */
  border-radius: 17px 17px 0 0;
  overflow: hidden;
}

.react-calendar__month-view {
  min-height: 320px !important;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 520px;
  /* 부모 요소의 높이를 따르도록 설정 */
  position: relative;
  overflow-y: auto;
}



/* 날짜 타일 */
.react-calendar__tile {
  width: 6vw; /* 화면 너비에 따른 상대적 크기 */
  height: 80px !important; /* 화면 높이에 따른 상대적 크기 */
  font-size: 1.5vw; /* 화면 너비에 따른 상대적 텍스트 크기 */
  margin: 1vh 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: rgba(215, 175, 211, 0.3);
  border-radius: 14px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: red;
}

.react-calendar__navigation__label {
  font-size: 24px;
  font-weight: 600;
}