/* 기본 스타일 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 달력 전체 스타일 */
.react-calendar {
  width: 800px;
  min-height: 570px;
  border: 3px solid #AFA4CE;
  border-radius: 20px;
  margin: 13px auto 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* 달력 상단 네비게이션 */
.react-calendar__navigation {
  height: 100px;
  background-color: #E6E6FA;
  border-bottom: 4px solid #AFA4CE;
  border-radius: 17px 17px 0 0;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: red;
}

/* 달력 날짜 스타일 */
.react-calendar__tile {
  width: 40px;
  height: 87px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px !important; /* 수정된 부분: 날짜 간의 간격을 조절합니다. */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: rgba(215, 175, 211, 0.3);
  border-radius: 14px;
}



/* 요일 스타일 */
.react-calendar__month-view__weekdays abbr {
  font-size: 20px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr,

.react-calendar__month-view__weekdays:nth-child(7) {
  color: red !important;
}



.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  color: blue !important;
}

/* 반응형 디자인 */
@media screen and (min-width: 768px) {
  .react-calendar {
    min-width: 62%;
    max-width: 900px;
  }

  .react-calendar__navigation {
    height: 120px;
  }

  .react-calendar__navigation span {
    font-size: 32px;
  }

  .react-calendar__navigation__next-button,
  .react-calendar__navigation__prev-button {
    font-size: 40px;
  }
}

/* 모달창 스타일 */
.ReactModal__Content {
  margin-top: 40px;
  max-width: 1000px;
  width: 80%;
  margin: 40px auto;
  z-index: 1000;
}

/* 추가된 스티커 및 이미지 스타일 */
.dot-img, .dot {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
/* 스티커 크기 */
.dot-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}


.dot img {
  max-width: 100%;
  max-height: 100%;
}
