@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto:wght@100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Relu Molu사이트 폰트지정  */
.relu-font {
  font-weight: 500;
  font-size: 30px;
  font-family: "Caveat", cursive;
}
